/*1342-1500*/
@media screen and (max-width: 1500px) {
    #contact #contact-rose .contactroseright2,
    #contact #contact-rose .contactroseright3 {
        right: -55px;
    }
}

/*1229-1341*/
@media screen and (max-width: 1341px) {
    #present #present-container #present-img {
        margin-left: 85px;
        width: 700px;
        height: 480px;
    }

    #present #present-container #present-img img {
        width: 100%;
        height: 100%;
    }

    #rituals #rituals-img {
        display: none;
    }

    #block-question #question-container #question-content #call-us {
        width: 420px;
    }

    #contact #contact-rose .contactroseright2 {
        display: none;
    }

    #contact #contact-rose .contactroseright3 {
        right: 100px;
        bottom: -65px;
    }
}

/*1200-1229*/
@media screen and (max-width: 1229px) {
    #header-container,
    #main-container,
    #advantages-container,
    #rituals-container,
    #present-container,
    #masters-container,
    #question-container,
    #contact-container,
    #footer #footer-container {
        padding: 0 20px;
    }

    #footer #footer-container {
        padding: 20px 20px;
    }

    #block-question {
        margin-top: 195px;
    }

    #advantages #advantages-container #advantages-first .advarightrose1 {
        right: 0;
    }

    #advantages #advantages-rose .advarightrose2 {
        display: none;
    }


}

/*1024-1199*/
@media screen and (max-width: 1199px) {

    .block-title {
        text-align: center;
    }

    #present #present-container #present-content .block-title {
        padding-top: 40px;
    }

    #block-question #question-container {
        padding-top: 50px;
    }

    #advantages #advantages-rose .advaleftrose2 {
        display: none;
    }

    #advantages #advantages-rose .advarightrose1 {
        right: 0;
    }

    #rituals #rituals-container #rituals-content {
        flex-wrap: wrap;
        width: 600px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #rituals-content .ritual {
        margin-bottom: 33px;
    }

    #rituals #rituals-container #rituals-text {
        margin: 30px auto 45px auto;
        text-align: center;
    }

    #present {
        height: 100%;
    }

    #present #present-container {
        text-align: center;
        display: block;
    }

    #present #present-container #present-content {
        padding-top: 0;
        margin: 0 auto;
    }

    #present #present-container #present-content #present-text {
        width: auto;
    }

    #present #present-container #present-img {
        width: 558px;
        height: 380px;
        margin: 30px auto 0 auto;
    }

    #masters #masters-container #masters-content #masters-content-text {
        margin: 30px auto;
        text-align: center;
    }

    #masters #masters-container #masters-block {
        width: 720px;
        margin: 0 auto;
        padding: 0 25px;
    }

    #masters #masters-container #masters-block .master .master-photo {
        width: 310px;
        height: 250px;
    }

    #masters #masters-container .masters-arrow-content {
        top: 30px;
    }

    #masters #masters-container .masters-arrow-content {
        width: 120px;
    }

    #gallery #gallery-container #gallery-content #gallery-content-text {
        width: 645px;
        margin: 25px auto;
        text-align: center;
    }

    #gallery .galleryrose1 {
        display: none;
    }

    #gallery #gallery-slider .gallery-photo {
        width: 327px;
        height: 236px;
    }

    #block-question #question-container #question-content {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #contact #contact-container {
        justify-content: space-around;
    }

    #contact #contact-container #contact-info #contact-address {
        margin-left: 108px;
    }

    #contact-map iframe {
        width: 488px;
        height: 325px;
    }

}

/*768-1023*/
@media screen and (max-width: 1023px) {

    #main {
        height: 770px;
    }

    #main #main-container #main-content {
        width: 450px;
        margin-top: 130px;
    }

    #main #main-container #main-content h1 {
        font-size: 31px;
    }

    #main #main-container #main-content-text {
        font-size: 16px;
    }

    #header #header-container .logo {
        order: -1;
        margin-left: 0;
    }

    #advantages #advantages-container {
        padding-top: 110px;
        padding-bottom: 55px;
    }

    #advantages #advantages-container #advantages-first,
    #advantages #advantages-container #advantages-second {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }

    .advantage {
        max-width: 460px;
        margin-top: 25px;
    }

    #advantages #advantages-container #advantages-second .advantage-last {
        width: 460px;
    }

    .advantage .advantage-text {
        margin-right: 10px;
    }

    #rituals #rituals-rose .ritualroseright1 {
        right: 0;
    }

    #gallery #gallery-container #gallery-content #gallery-content-text {
        width: 578px;
    }

    #contact #contact-container {
        display: block;
    }

    #contact #contact-container #contact-info {
        max-width: none;
    }

    #contact #contact-container #responsive-contact {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    #contact #contact-container #contact-info #contact-content {
        margin-left: 50px;
    }

    #contact #contact-container #contact-info #contact-content img {
        z-index: -1;
        opacity: .4;
    }

    #contact #contact-container #contact-map {
        text-align: center;
    }

    #contact #contact-rose .contactroseright2,
    #contact #contact-rose .contactroseright3 {
        display: none;
    }

    #footer {
        margin-top: 85px;
    }

    #footer #footer-container {
        display: block;
    }

    #footer #footer-container #footer-social,
    #footer #footer-container #footer-content {
        margin: 0 auto;
    }

    #footer #footer-container #footer-content {
        width: 80%;
    }

    #footer #footer-container #footer-time {
        font-size: 14px;
    }


}

/*701-767*/
@media screen and (max-width: 767px) {
    #main {
        height: 660px;
    }

    #main #main-container #main-content h1 {
        font-size: 25px;
    }

    #main #main-container #main-content-choice a {
        font-size: 14px;
    }

    .block-title {
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
    }

    #rituals #rituals-rose .ritualroseleft1 {
        display: none;
    }

    #present {
        margin-top: 50px;
    }

    #present #present-container #present-content #present-text {
        font-size: 16px;
    }

    #masters {
        margin-bottom: 115px;
    }

    #masters #masters-container #masters-block {
        width: 550px;
        margin: 0 auto;
        padding: 0 20px;
    }

    #masters #masters-container #masters-block .master .master-photo {
        width: 233px;
        height: 206px;
    }

    #masters #masters-container #masters-block .master .master-info {
        width: 100%;
        padding: 7px;
        height: 59px;
    }

    #masters #masters-container #masters-block .master .master-info .master-name {
        font-size: 15px;
    }

    #masters #masters-container #masters-block .master .master-info .master-experience {
        font-size: 12px;
    }

    #masters #masters-rose img {
        right: 0;
        height: 381px;
    }

    #masters #masters-container #masters-content {
        padding-top: 90px;
    }

    #masters #masters-container .masters-arrow-content .slick-dots {
        font-size: 16px;
    }

    #masters #masters-container .masters-arrow-content .slick-prev,
    #masters #masters-container .masters-arrow-content .slick-next {
        width: 7px;
        height: 14px;
    }

    #gallery #gallery-slider .slick-slide {
        opacity: 1;
    }

    #gallery .galleryrose2 {
        top: -47px;
        right: 0;
    }

    #block-question #question-container #question-content #questions-accordion {
        max-width: 545px;
    }

    #block-question #question-container #question-content #questions-accordion .questions-accordion-info {
        width: 545px;
        padding: 0 15px;
    }

    #block-question #question-container #question-content .questions-accordion-title {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #block-question #question-container #question-content .questions-accordion-text {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ui-icon.iconOpen,
    .ui-icon.iconClosed {
        top: 27px;
    }

    #block-question #question-container #question-content #call-us #call-us-text {
        font-size: 16px;
    }

    #block-question #question-container #question-content #call-us {
        width: 380px;
        padding: 25px;
    }

    #block-question #question-container #question-content #call-us #call-us-action input {
        width: 223px;
        padding: 11px 20px;
    }

    #block-question #question-container #question-content #call-us #call-us-action .btn {
        width: 223px;
        padding: 11px;
    }

    #contact #contact-container #contact-info #contact-address {
        margin: 0;
    }

    #contact #contact-container #responsive-contact {
        width: 90%;
        margin: 20px auto 0 auto;
    }

    #contact #contact-container #contact-info #contact-content .contact-content-text {
        margin-bottom: 20px;
    }

    #contact #contact-container #contact-info .contact-title {
        font-size: 18px;
    }

    #contact #contact-container #contact-info .contact-content-text {
        font-size: 14px;
    }

    #contact #contact-container #contact-info #contact-content img {
        display: none;
    }

}

/*580-700*/
@media screen and (max-width: 700px) {

    .btn {
        font-size: 14px;
        width: 113px;
    }

    #header #header-container {
        width: 480px;
        justify-content: space-around;
        align-items: center;
    }

    #header #header-container .logo {
        order: unset;
    }

    #header #header-container.menu-open {
        background-color: rgb(229 223 226);
    }

    #header #header-container.menu-open #menu {
        display: block;
        background-color: rgb(229 223 226);
        opacity: 87%;
        z-index: 99999;
    }

    #header #header-container #menu {
        display: none;
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        padding-top: 90px;
        background-color: rgb(229 223 226);
        opacity: 87%;
    }

    #header #header-container #menu a {
        display: block;
        padding: 12px 20px;
        font-size: 16px;
    }

    #header #header-container #menu a:hover {
        border-bottom: transparent;
    }

    #header #header-container #burger {
        display: block;
        z-index: 9999999;
    }

    #rituals #rituals-container #rituals-content {
        width: 100%;
    }

    #rituals-content .ritual {
        width: 95%;
        display: flex;
    }

    #rituals-content .ritual .ritual-info {
        padding: 14px 25px;
    }

    #rituals-content .ritual .ritual-info .ritual-text {
        margin-bottom: 10px;
        height: 100px;
    }

    #rituals-content .ritual img {
        height: 250px;
        width: 247px;
    }

    #rituals-content .ritual .ritual-info .ritual-action .ritual-cost {
        font-size: 12px;
    }

    #rituals-content .ritual .ritual-info .ritual-action .btn {
        padding: 11px 16px;
    }

    #present #present-container #present-content #present-action .btn {
        width: 209px;
        height: 39px;
    }

    #present #present-container #present-img {
        width: 411px;
        height: 276px;
    }

    #footer {
        margin-top: 80px;
    }

    #footer #footer-container {
        padding: 15px;
    }

    #footer #footer-container #footer-content {
        display: block;
        text-align: center;
    }

    #footer #footer-container #footer-phone,
    #footer #footer-container #footer-time {
        padding-top: 10px;
    }

}

/*480-579*/
@media screen and (max-width: 579px) {
    .block-title {
        font-size: 22px;
    }

    #main #main-container #main-content {
        width: 329px;
        margin-top: 120px;
    }

    #main #main-container #main-content h1 {
        font-size: 23px;
    }

    #rituals #rituals-container #rituals-text {
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
    }

    #rituals-rose, #present-rose, #advantages-rose, #masters-rose, #contact-rose, .galleryroseleft1, .advarightrose1, .galleryrose2 {
        opacity: .5;
    }

    #rituals-content .ritual img {
        height: 200px;
        width: 180px;
    }

    #rituals-content .ritual .ritual-info .ritual-title {
        margin-bottom: 10px;
    }

    #rituals-content .ritual .ritual-info .ritual-time {
        font-size: 11px;
        margin-bottom: 10px;
    }

    #rituals-content .ritual .ritual-info .ritual-action .ritual-cost {
        font-size: 11px;
    }

    #rituals-content .ritual .ritual-info {
        padding: 10px 15px;
    }

    #rituals-content .ritual .ritual-info .ritual-action .btn {
        padding: 7px 14px;
    }

    #present #present-rose .presentroseleft2 {
        display: none;
    }

    #masters #masters-container #masters-block {
        width: 274px;
    }

    #masters #masters-container #masters-block .master .master-info {
        height: 56px;
    }

    #masters #masters-container .masters-arrow-content {
        width: 300px;
        top: -100px;
    }

    #masters #masters-container .masters-arrow-content .slick-next {
        right: 5px;
    }

    #masters #masters-container #masters-content #masters-content-text {
        font-size: 16px;
        width: 100%;
    }

    #gallery #gallery-container #gallery-content #gallery-content-text {
        width: 398px;
    }

    #gallery #gallery-slider .gallery-photo {
        width: 279px;
        height: 198px;
    }

    #gallery .arrows-content .slick-dots {
        top: -9px;
    }

    #block-question #question-container h2 {
        margin-bottom: 25px;
    }

    #block-question #question-container #question-content #questions-accordion,
    #block-question #question-container #question-content #questions-accordion .questions-accordion-info {
        max-width: 412px;
    }

    #block-question {
        margin-top: 140px;
    }

    #contact #contact-container #responsive-contact {
        display: block;
        text-align: center;
    }

    #contact #contact-container #contact-info #contact-content {
        margin-left: 0;
        margin-top: 20px;
    }

    #contact #contact-container #contact-info #contact-content img {
        display: block;
        left: -25px;
        bottom: 0;
        width: 200px;
    }

    #popup #popup-container {
        width: 350px;
        padding: 20px;
    }

    #popup #popup-container #reserve .reserve-input input, #popup #popup-container #reserve .reserve-input select {
        width: 255px;
    }

    #popup #popup-container #reserve-button .btn {
        font-size: 14px;
    }

    #popup #popup-container #cancel-popup {
        top: -67px;
        right: 0;
    }

    #popup #popup-container #reserve-complete #reserve-complete-title{
        font-size: 14px;
        margin-bottom: 15px;
    }

    #popup #popup-container #reserve-complete #reserve-complete-text{
        font-size: 13px;
        margin: 0 auto;
        width: auto;
    }

}

/*480-479*/
@media screen and (max-width: 499px) {

    #header #header-container {
        width: 310px;
        justify-content: space-around;
    }

    #header #header-container #phone-number {
        display: none;
    }

    #rituals-content .ritual {
        width: auto;
        display: block;
        text-align: center;
    }

    #rituals #rituals-rose .ritualroseleft1 {
        display: none;
    }

    #rituals-content .ritual .ritual-info {
        padding: 10px 55px;
    }

    #rituals-content .ritual .ritual-info .ritual-time,
    #rituals-content .ritual .ritual-info .ritual-action .ritual-cost {
        font-size: 14px;
    }

    #present #present-container #present-img {
        width: 300px;
        height: 220px;
    }

    #gallery .arrows-content .slick-dots li {
        width: 10px;
        height: 10px;
    }

    #gallery .arrows-content {
        max-width: 282px;
    }

    #contact-map iframe {
        width: 300px;
        height: 290px;
    }

    #contact {
        margin-top: 80px;
    }

    #block-question #question-container #question-content #call-us #call-us-complete {
        font-size: 14px;
        padding: 40px;
    }
}

/*320-400*/
@media screen and (max-width: 400px) {

    #main {
        height: 620px;
    }

    #main #main-container #main-content {
        width: 292px;
        margin-top: 60px;
    }

    #main #main-container #main-content h1 {
        font-size: 22px;
        line-height: 37px;
    }

    #main #main-container #main-content-text {
        font-size: 16px;
        line-height: 1.4;
    }

    #main #main-container #main-content-choice {
        margin-top: 48px;
    }

    #main #main-container #main-content-choice a {
        font-size: 12px;
        padding: 14px 29px;
    }

    #advantages #advantages-container {
        padding-top: 90px;
    }

    .advantage .advantage-img {
        margin-right: 25px;
        width: 90px;
    }

    .advantage .advantage-text {
        margin-right: 0;
        font-size: 14px;
    }

    #rituals-content .ritual .ritual-info .ritual-text {
        height: 95px;
    }

    #rituals-content .ritual .ritual-info {
        padding: 13px 15px;
    }

    #rituals-content .ritual img {
        height: 160px;
    }

    #present #present-container #present-content {
        width: 310px;
    }

    #present #present-container #present-content .block-title {
        width: auto;
    }

    #present #present-container #present-content {
        width: 100%;
    }

    #present #present-rose .presentroseleft1 {
        left: 0;
    }

    #masters {
        margin-bottom: 90px;
    }

    #masters #masters-container .masters-arrow-content .slick-next {
        right: 11px;
    }

    #header #header-container #burger {
        width: 33px;
    }

    #gallery #gallery-container #gallery-content #gallery-content-text {
        width: 100%;
        padding: 0 20px;
        font-size: 16px;
    }

    #gallery .slick-dotted.slick-slider {
        margin-bottom: 45px;
    }

    #block-question #question-container #question-content #questions-accordion,
    #block-question #question-container #question-content #questions-accordion .questions-accordion-info {
        max-width: 285px;
    }

    #block-question #question-container #question-content .questions-list li {
        font-size: 13px;
    }

    ul.questions-list {
        padding-bottom: 10px;
    }

    .ui-icon.iconOpen,
    .ui-icon.iconClosed {
        right: -20px;
        margin-right: 0;
    }

    #block-question #question-container #question-content .questions-accordion-info .go-link {
        padding-bottom: 15px;
    }

    #block-question #question-container #question-content .questions-accordion-title {
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 239px;
    }

    #block-question #question-container #question-content #call-us #call-us-text {
        font-size: 14px;
        margin-bottom: 20px;
    }

    #block-question #question-container #question-content #call-us {
        width: 285px;
        padding: 20px;
    }

    #block-question #question-container #question-content #call-us #call-us-action input {
        width: 200px;
        padding: 10px 20px;
    }

    #block-question #question-container #question-content #call-us #call-us-action input::placeholder {
        font-size: 11px;
    }

    #block-question #question-container #question-content #call-us #call-us-action .btn {
        width: 200px;
        padding: 10px;
    }

    #block-question #question-container #question-content #call-us #call-us-action .collusrose {
        bottom: 0;
        right: 0;
    }

    #popup #popup-container {
        width: 300px;
        padding: 15px;
    }

    #popup #popup-container #reserve .reserve-input input::placeholder {
        font-size: 12px;
    }

    #popup #popup-container #reserve .reserve-input input,
    #popup #popup-container #reserve .reserve-input select {
        width: 194px;
        padding: 12px;
        margin-top: 20px;
        font-size: 12px;
    }

    #popup #popup-container #reserve-button .btn {
        padding: 12px;
        width: 194px;
        margin-top: 30px;
    }

    #popup #popup-container #cancel-popup {
        width: 40px;
        height: 40px;
    }


}